<?xml version="1.0" encoding="utf-8"?>
<configuration>    
    <packageSources>
        <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
        <add key="nexus" value="https://nexus.endava.net/repository/xelerator_nuget/" />
    </packageSources>

    <!-- Used to store credentials -->
    <packageSourceCredentials />

    <!-- Used to disable package sources  -->
    <disabledPackageSources />

    <!--
        Used to specify default API key associated with sources.
        See: nuget.exe help setApiKey
        See: nuget.exe help push
        See: nuget.exe help mirror
    
    <apikeys>
        <add key="https://nexus.endava.net/repository/xelerator_nuget/" value="AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAAHWGeJA76fkOcKLwL3qTzkgAAAAACAAAAAAADZgAAwAAAABAAAABTMB+CI6ChZpq9k9GLHA4nAAAAAASAAACgAAAAEAAAAOt35VCIoY3rIljQOY84WE8oAAAAM573mN5CHMpbTlvt2h3Jiq3gKHfYIyH6LKC7xD9Nb77wkUbdK6oBbhQAAABqpCnBwp9WqVcnC9h4FJ92h44Xxg==" />
    </apikeys>-->

</configuration>
